[submodule "inbank-frontend"]
	path = inbank-frontend
	url = https://github.com/boostd/inbank-frontend
[submodule "inbank-backend"]
	path = inbank-backend
	url = https://github.com/boostd/inbank-backend
