[submodule "inbank-frontend"]
	path = inbank-frontend
	url = https://gitlab.cs.ttu.ee/jutiha/inbank-frontend.git
[submodule "inbank-backend"]
	path = inbank-backend
	url = https://gitlab.cs.ttu.ee/jutiha/inbank-backend.git
